<div class="col-sm-8 blog-main">
  <p>
    <strong>Title:</strong>
    <%= @blog.title %>
  </p>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
  <p>
    <strong>Body:</strong>
    <%= @blog.body %>
  </p>

  <%= render 'comments/comment_form' %>
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comment %>
  </div>

</div>
