<p><%= link_to portfolios_item.title, portfolio_show_path(portfolios_item.id) %></p>
<p><%= portfolios_item.subtitle %></p>
<p><%= portfolios_item.body %></p>
<%= image_tag portfolios_item.thumb_image unless portfolios_item.thumb_image.nil? %>
<%= link_to "Edit Items", edit_portfolio_path(portfolios_item.id) if logged_in?(:site_admin)%>
<%= link_to "Delete portfolio Item",
            portfolios_item,
            method: :delete,
            data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)
%>